{% extends 'pharmacy/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col">
            <h2>{{ title }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Save Sale
                            </button>
                            <a href="{% url 'sale_list' %}" class="btn btn-secondary">
                                <i class="fas fa-times"></i> Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5>Sale Information</h5>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li><i class="fas fa-info-circle text-info"></i> Enter customer name</li>
                        <li><i class="fas fa-info-circle text-info"></i> Select medicine from the list</li>
                        <li><i class="fas fa-info-circle text-info"></i> Enter quantity</li>
                        <li><i class="fas fa-info-circle text-warning"></i> Total amount will be calculated automatically</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
